
.idea/workspace.xml
__pycache__/board.cpython-311.pyc
__pycache__/go_gui.cpython-311.pyc
*.iml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
sgf_reader(copy).py
__pycache__/game.cpython-311.pyc
__pycache__/GameTree.cpython-311.pyc
